# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react-locate-contractor/node_modules
/react-locate-contractor/src/config.tsx
/API-LocateContractor/bin
/.pnp
.pnp.js
/API-LocateContractor/obj/Debug
/API-LocateContractor/obj/Debug/net6.0
/react-locate-contractor/src/config.tsx
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bin
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
bower_components

*.sublime*

psd
thumb
sketch
